@media only screen and (max-width: 600px){
    .card{
        width: 100vw;
        overflow: auto;
        z-index:-1;
    }
    iframe.resume-embed{
        height: 98%;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 721px){
    .card{
        width: 100vw;
        overflow: auto;
        z-index:-1;
    }
    .card, 
    iframe.resume-embed{
        margin-top: 5px;
        height: 98%;
    }
}
@media only screen and (max-height: 426px){
    .card{
        width: 100%;
        overflow: auto;
        z-index:-1;
    }
    .card,
    iframe.resume-embed{
        height: 95%;
        margin-top: 10px;
    }
}
